<footer id="rh">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
              <a href="https://tmaxanc.com/" target="_blank">
                <img src="<%= File.join(images_path, 'footer_anc_logo.svg') %>" class="img-fluid" alt="Tmax A&C" style="height: 16px; margin-right:10px">
              </a>
            </div>
            <div class="col-sm-6">
              <p class="text-nowrap">Copyright 2020 Tmax A&C Corp. All rights reserved.</span></p>
            </div>
            <div class="col">
                <nav class="nav">
                    <a target="_blank" href="https://www.tmaxcloud.com/term/TmaxCloud_Terms_of_Service.html" class="nav-link">이용약관</a>
                    <a target="_blank" href="https://www.tmaxcloud.com/term/TmaxCloud_Privacy_Policy.html" class="nav-link">개인정보처리방침</a>
                    <a target="_blank" href="https://www.tmaxcloud.com/term/HyperCloud_Cloud_SLA.html" class="nav-link">SLA</a>
                </nav>
            </div>
        </div>
    </div>
</footer>

<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->