<div class="navbar navbar-default navbar-openshift navbar-origin" role="navigation">
	<a class="navbar-brand origin" href="<%= site_url %>"></a>
	<div class="collapse navbar-collapse" style="display: flex !important;">
		<ul class="navbar-nav mr-auto" style="margin-right: auto !important;">
			<li class="nav-item">
				<a class="nav-link" href="#">메뉴얼</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">버전</a>
			</li>
			<li class="nav-item">
				<select id="version-selector" onchange="versionSelector(this, '<%= distro_key %>', '<%= version %>');">
					<option value="4">HyperCloud 4</option>
					<option value="3">HyperCloud 3</option>
				</select>
			</li>
		</ul>
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item dropdown">
				<a
					class="nav-item nav-link dropdown-toggle mr-md-2"
					href="#"
					id="bd-versions"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					한국어
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">콘솔</a>
			</li>
		</ul>
	</div>

	<!-- <div class="" style="width: 200px;">
		<ul class="nav navbar-nav">
			<li class="nav-link">
				<a href="#"> 한국어 </a>
			</li>
			<li class="nav-link">
				<a href="#"> 콘솔 </a>
			</li>
		</ul> -->
	<!-- </div> -->
</div>
